


.stock-name {
	  display: flex;
    flex-direction: column;
    justify-content: center;
}


.stock-icon {
	width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgb(211, 226, 247);
    border-radius: 50%;
}

.stock-icon img {
	width: 39.5px;
	height: 39.5px;
}


